@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}

body {
  background-color: hsl(185, 75%, 39%);
  background-image: url(./images/bg-pattern-bottom.svg),
    url(./images/bg-pattern-top.svg);
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 400px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  background-image: url(./images/bg-pattern-card.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 12px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

img {
  margin-top: 25%;
  border: 5px solid white;
  border-radius: 50%;
}

.name {
  color: hsl(229, 23%, 23%);
  margin-top: 20px;
  font-size: 20px;
}
.age {
  opacity: 0.6;
  margin-left: 5px;
  font-size: 22px;
  font-weight: lighter;
}
.city {
  color: hsl(227, 10%, 46%);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid rgba(0, 0, 0, 0.138);
  margin-top: 20px;
}

.stat {
  text-align: center;
  padding: 30px 35px;
}

.info {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
  margin-top: 5px;
  font-weight: 700;
  opacity: 0.8;
}
